---
layout: nil
---
/* Mobile first queries */

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
 
/* Add your includes. */
 
html {
  font-size: 16px;
}
@media (min-width: 48rem) {
  html {
    font-size: 20px;
  }
}
 
body {
  margin: 0;
  font: 1rem/1.5 "PT Sans", sans-serif;
  color: #5a5a5a;
}
 
a {
  color: #08c;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
